<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include('./layout/head') %>
</head>
<body>
  <div class="wrap">
    <header>
      <%- include('./layout/header') %>
    </header>
    <div>
      my
    </div>
    <footer>
      <%- include('./layout/footer') %>
    </footer>
  </div>
</body>
</html>