<div class="innerHeader">
    <div class="logo"><a href="/"><img src="/img/logo.png" alt="로고"></a></div>
    <nav class="gnb">
      <ul>
        <li><a href="#">공지사항</a></li>
        <li><a href="#">매물목록</a></li>
        <li><a href="#">내 매물</a></li>
      </ul>
    </nav>
  </div>
  <div class="login">
    <a href="#">로그인</a>
    <a href="#">회원가입</a>
  </div>